<!-- layouts/shortcodes/minecraft-status.html -->

{{ $apiUrl := "https://api.mcsrvstat.us/3/mc.universocraft.net" }}

<div id="minecraft-widget">
    <div class="info-container">
      <div id="status-container">
        <img id="status-image" src="https://github.com/Rapou7/pancholandia-pages/blob/main/static/img/loading.png?raw=true" alt="Cargando...">
        <p id="status-info">Estado</p>
      </div>
      <p id="players-info">Cargando... <img src="https://github.com/Rapou7/pancholandia-pages/blob/main/static/img/players.png?raw=true" alt="Jugadores"></p>
    </div>
    <p id="motd-info">MOTD: Cargando...</p> 
  </div>
  
<style>
    #minecraft-widget {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    }

    #minecraft-widget img {
    max-width: 25px; /* Ajusta según tus preferencias */
    height: auto;
    display: block;
    margin: 0 auto;
  }

  #status-container,
  #players-info {
    display: flex;
    align-items: center;
    margin-left: 8px; /* Ajusta según sea necesario */
  }

  .info-container {
    display: flex;
    width: 100%;
  }

  #status-image {
    margin-right: 8px; /* Ajusta según sea necesario */
  }

  #status-info,
  #players-info img {
    margin-left: 8px; /* Ajusta según sea necesario */
  }

</style>

  <script>
    function obtenerEstadoServidor() {
      const apiUrl = '{{ $apiUrl }}';
  
      fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
          const playersOnline = data.players.online;
          const playersMax = data.players.max;
          const motd = data.motd.clean.join('\n');
          const serverStatus = data.online;
  
          // Selecciona la imagen basada en el estado del servidor
          const statusImage = document.getElementById('status-image');
          statusImage.src = serverStatus ? 'https://github.com/Rapou7/pancholandia-pages/blob/main/static/img/online.png?raw=true' : 'https://github.com/Rapou7/pancholandia-pages/blob/main/static/img/offline.png?raw=true';
          statusImage.alt = serverStatus ? 'En línea' : 'Fuera de línea';
  
          // Muestra la cantidad de jugadores con la imagen representativa
          document.getElementById('players-info').innerHTML = `${playersOnline}/${playersMax} <img src="https://github.com/Rapou7/pancholandia-pages/blob/main/static/img/players.png?raw=true" alt="Jugadores">`;
          document.getElementById('motd-info').innerHTML = `MOTD: ${motd}`;
        })
        .catch(error => console.error('Error al obtener el estado del servidor', error));
    }


  obtenerEstadoServidor();
  setInterval(obtenerEstadoServidor, 300000);
</script>
